################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HelloGitHub_Cpp/.vs/HelloGitHub_Cpp/v16
