################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HelloGitHub_Cpp/.vs/HelloGitHub_Cpp/v16
/HelloGitHub_Cpp/HelloGitHub_Cpp/x64/Debug
/HelloGitHub_Cpp/x64/Debug
/HelloGitHub_Cpp/HelloGitHub_Cpp/HelloGitHub_Cpp.vcxproj.user
/HelloGitHub_Cpp/HelloGitHub_Cpp/HelloGitHub_Cpp.vcxproj.filters
/HelloGitHub_Cpp/HelloGitHub_Cpp/HelloGitHub_Cpp.vcxproj
